
.fullItem__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000bf;
  z-index: 900;
  overflow: auto;
}

.fullItem__modal {
  max-width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fdf8f8;
  border-radius: 10px;
}

.fullItem__img {
  margin-bottom: 20px;
  width: 100%;
  height: 500px;
  cursor: pointer;
  transition: transform .2s ease;
}

.fullItem:hover {
  transform: scale(1.02);
}

.fullItem__img:hover {
  transform: scale(1.02);
}

.fullItem__information-block {
  margin: 10px 20px;
}

.fullItem__title {
  margin-bottom: 20px;
}

.fullItem__category {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 15px;
}

.fullItem__desc {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 1.3em;
}

.fullItem__price {
  margin-bottom: 20px;
  font-weight: 700;
  color: rgba(29, 248, 26, 0.778);
}

.fullItem__button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 15px;
  font-weight: 700;
  border: #813c8d;
  background: #ab46bc;
  border-radius: 5px;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  transition: .2s ease;
}

.fullItem__button:hover {
  transform: scale(1.1);
  background: #d823f8;
}