@media (max-width: 850px) {

  .wrapper {
    max-width: 850px;
    margin: 25px auto;
    padding: 0 25px;
  }

  .wrapper .presentation {
    height: 400px;
  }

  .wrapper .item {
    margin-bottom: 30px;
    width: 47%;
  }

  .wrapper .categories__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    list-style: none;
  }

  .wrapper .categories__item {
    margin-bottom: 15px;
  }

  .wrapper .item__img {
    margin-bottom: 15px;
    height: 250px;
  }

  .wrapper .fullItem__modal {
    max-width: 400px;
  }
}

@media (max-width: 500px) {

  .wrapper {
    max-width: 500px;
    margin: 15px auto;
    padding: 0 15px;
  }

  .wrapper .logo {
    margin-right: 20px;
  }

  .wrapper header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .wrapper .presentation {
    margin: 30px 0;
    height: 300px;
  }

  .wrapper .presentation::before {
    width: 100%;
    top: 200px;
    left: 0;
    text-align: center;
  }

  .wrapper .presentation::after {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .wrapper .open-basket {
    width: 270px;
    padding: 10px;
  }

  .wrapper .order-summa {
    font-size: 16px;
}

  .wrapper .order__img {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

  .wrapper .order__title {
    font-size: 17px;
  }

  .wrapper .order__buttons-wrapper {
    flex-direction: column;
    height: 70px;
    width: 40px;
    align-items: end;
  }

  .wrapper .order__counter {
    margin-right: 0;
  }

  .wrapper .order__delete-icon {
    width: 30px;
    height: 30px;
  }

  .wrapper .item {
    width: 100%;
  }

  .wrapper .categories__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    list-style: none;
  }

  .wrapper .categories__item {
    margin-bottom: 10px;
    padding: 5px 5px;
  }

  .wrapper .categories__item:not(:last-child) {
    margin-right: 20px;
  }

  .wrapper .fullItem__modal {
    margin: 10% 5%;
  }

  .wrapper .fullItem__img {
    height: 350px;
  }
}